@page "/routing"

<div class="routing-container">
    <div class="routing-machine-container">
        <MachineRouting MachineID="1" LoadToRows="true" Height="350" />
    </div>
    <div class="routing-machine-container">
        <MachineRouting MachineID="2" LoadToRows="true" Height="350" />
    </div>
    <div class="routing-machine-container">
        <MachineRouting MachineID="3" LoadToRows="true" Height="350" />
    </div>
</div>