@page "/routing/aggregated/weeks"

<div class="routing-container">
    <div class="routing-machine-container-days">
        <OLM.Blazor.WASM.Pages.Routing.Induvidual.AggregatedWeeklyRouting MachineID="1" Height="500" />
    </div>
    <div class="routing-machine-container-days">
        <OLM.Blazor.WASM.Pages.Routing.Induvidual.AggregatedWeeklyRouting MachineID="2" Height="500" />
    </div>
    <div class="routing-machine-container-days">
        <OLM.Blazor.WASM.Pages.Routing.Induvidual.AggregatedWeeklyRouting MachineID="3" Height="500" />
    </div>
</div>