@page "/routing/aggregated/days"

 <div class="routing-container">
    <div class="routing-machine-container-days">
        <OLM.Blazor.WASM.Pages.Routing.Induvidual.AggregatedDailyRouting MachineID="1" Height="500" />
    </div>
    <div class="routing-machine-container-days">
        <OLM.Blazor.WASM.Pages.Routing.Induvidual.AggregatedDailyRouting MachineID="2" Height="500" />
    </div>
    <div class="routing-machine-container-days">
        <OLM.Blazor.WASM.Pages.Routing.Induvidual.AggregatedDailyRouting MachineID="3" Height="500" />
    </div>
</div>