@page "/routing/aggregated"

<div class="routing-container">
    <div class="routing-machine-container">
        <AggregatedMachineRouting MachineID="1" LoadToRows="true" Height="500"/>
    </div>
    <div class="routing-machine-container">
        <AggregatedMachineRouting MachineID="2" LoadToRows="true" Height="500"/>
    </div>
    <div class="routing-machine-container">
        <AggregatedMachineRouting MachineID="3" LoadToRows="true" Height="500"/>
    </div>
</div>