@page "/routing/days"

@using OLM.Blazor.WASM.Pages.Routing.Induvidual

<div class="routing-container">
    <div class="routing-machine-container-days">
        <DailyRouting MachineID="1" Height="500"/>
    </div>
    <div class="routing-machine-container-days">
        <DailyRouting MachineID="2" Height="500"/>
    </div>
    <div class="routing-machine-container-days">
        <DailyRouting MachineID="3" Height="500"/>
    </div>
</div>