@page "/routing/weeks"

@using OLM.Blazor.WASM.Pages.Routing.Induvidual

<div class="routing-container">
    <div class="routing-machine-container-days">
        <WeeklyRouting MachineID="1" Height="500" />
    </div>
    <div class="routing-machine-container-days">
        <WeeklyRouting MachineID="2" Height="500"/>
    </div>
    <div class="routing-machine-container-days">
        <WeeklyRouting MachineID="3" Height="500"/>
    </div>
</div>